<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="login_register.css" />
  <link rel="stylesheet" href="header.css" />
  <!--
  <script>
    function logout() {
      fetch('/logout', { // 根据你的后端路径修改
        method: 'GET',
        credentials: 'same-origin' // 保持会话信息
      }).then(function(response) {
        // 处理登出成功后的重定向到首页
        window.location.href = '/index.html'; // 根据你的首页路径修改
      }).catch(function(error) {
        console.error('Error logging out:', error);
      });
    }
  </script>
  -->

</head>
<body>


<div class="login-page">
  <form class="form login-form" action="login" method="post">
    <label class="toggle-label">Login</label>
    <input type="text" placeholder="Email" name="email" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <div th:if="${session.loginError != null}" th:text="${session.loginError}" class="error-message"></div>
    <button>Login</button>
    <p class="message">
      Not registered? <a href="register.html">Create an account</a>
    </p>
  </form>
</div>

</body>
</html>
